:root { 
--teal_700_02:#0e737f; 
--teal_700_01:#007f68; 
--deep_orange_A100:#ff9676; 
--light_blue_A100:#68e1fd; 
--red_900:#a90f0d; 
--black_900_3f:#0000003f; 
--teal_700_d8:#0e737fd8; 
--black_900:#000000; 
--deep_orange_200_01:#ffb5a9; 
--lime_400_d8:#d5ca69d8; 
--teal_700:#1d707a; 
--deep_orange_300:#ff8f6f; 
--blue_gray_700:#3d666b; 
--deep_orange_200:#ffb3a6; 
--deep_orange_400:#d3883e; 
--pink_600:#c9236d; 
--blue_gray_900:#3e2928; 
--pink_300:#ff5aa1; 
--gray_700:#606060; 
--blue_900:#003b94; 
--blue_gray_100:#d9d9d9; 
--amber_600:#ffb700; 
--teal_400_72:#2b95a272; 
--gray_800:#6d4534; 
--gray_900:#0e1218; 
--amber_300:#ffce52; 
--green_50:#e6edde; 
--gray_200:#f5eded; 
--orange_400:#ffb02e; 
--amber_300_01:#f7cb46; 
--gray_100:#eff3fd; 
--indigo_300:#7b95b6; 
--teal_100_d8:#badfd0d8; 
--gray_100_01:#f5f5f5; 
--indigo_700:#2b46a6; 
--white_A700:#ffffff; 
}